.news_filter {
  display: flex;
  flex: 0 0 20%;
  padding: 15px;
  flex-direction: column;
  align-content: flex-start;
}

.filter_elem {
  min-width: 180px;
  margin: 0 0 24px 0;
  font-size: 12px;
  font-weight: 500;
}

.filter_name {
  padding: 0 0 5px 5px;
}

.news_filter select {
  width: 100%;
  font: 13px/15px 'Montserrat', sans-serif;
  border-radius: 4px;
  color: #000;
  -webkit-appearance: none;
  appearance: none;
  padding: 12px 0 12px 48px;
}

.news_filter select:focus {
  outline: 0;
  border-color: #4375AA;
}

.filter_category_select,
.filter_sort_select {
  position: relative;
}

/* Fiter - category */
.filter_category_select::before {
  content: url(image/category.svg);
  height: 24px;
  width: 24px;
  top: 8px;
  left: 16px;
  position: absolute;
  pointer-events: none;
}

.filter_category_select::after {
  content: url(image/chevron-down.svg);
  height: 24px;
  width: 24px;
  top: 8px;
  right: 16px;
  position: absolute;
  pointer-events: none;
}

/* Filter - sort */

.filter_sort_select::before {
  content: url(image/sort.svg);
  height: 24px;
  width: 24px;
  top: 8px;
  left: 16px;
  position: absolute;
  pointer-events: none;
}

.filter_sort_select::after {
  content: url(image/chevron-down.svg);
  height: 24px;
  width: 24px;
  top: 8px;
  right: 16px;
  position: absolute;
  pointer-events: none;
}

.filter_btns {
  display: flex;
  justify-content: space-between;
  height: 80px;
}


@media screen and (max-width: 768px) {
  .news_filter {
    order: -1;
    flex: 1 1 100%;
    flex-direction: column;
  }

  .filter_elem {
    flex: 1 1 100%;
    margin: 0 0 16px 0;
  }

}